*{
  padding: 0;
  margin: 0;
}

@keyframes opacityAnimation{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }
}

body{
  background-color: #7a7af9ff!important;
}

body::-webkit-scrollbar{
  display: none;
}

.currentWeatherDiv, .hourlyForecastDiv, .dailyForecastDiv{
  background-color: rgba(188, 188, 245, 0.6);
  border-radius: 14px;
  animation-name: opacityAnimation;
  animation-duration: 1s;
}

.dailyForecastDiv::-webkit-scrollbar, .hourlyForecastFlex::-webkit-scrollbar{
  display: none;
}

.dailyForecastItem, .hourlyForecastItem, .currentForecastItem, .detailedWeatherDiv{
  background-color: rgb(136, 124, 194);
  border-radius: 14px;
}